.register-title {
  font-family: 'Hollywood Hills';
  text-align: center;
  color: #fe5169;
  text-shadow: 2px 2px #e5d736;
}

label {
  font-family: 'Hollywood Hills';
  font-size: 25px;
  letter-spacing: 3px;
  text-align: center;
  color: #fe5169;
}
